.chef-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-right: 35px;
    margin-left: 35px;
}

  /* responsive  */
  @media only screen and (max-width: 576px) {
    .chef-container{
        grid: none;
    }
   
  }